{% extends 'base.html' %}

{% block content %}
<div class="container-fluid px-4">
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">Search for Movie:</label>
            <input type="text" class="form-control" name="searchMovie">
            <button type="submit" class="btn btn-primary mt-2">Search</button>
        </div>
    </form>

    <p>Searching for: {{ searchTerm }}</p>
    
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-3">
        {% for movie in movies %}
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="{{ movie.image.url }}" alt="{{ movie.title }}" style="height: 300px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                        <p class="card-text"><strong>Genre:</strong> {{ movie.genre }}</p>
                        <p class="card-text"><strong>Year:</strong> {{ movie.year }}</p>

                        <!-- Botón para mostrar descripción -->
                        <button class="btn btn-link p-0 text-primary toggle-description" data-bs-toggle="collapse" data-bs-target="#desc{{ forloop.counter }}">
                            Show Description
                        </button>

                        <!-- Descripción oculta -->
                        <div id="desc{{ forloop.counter }}" class="collapse">
                            <p class="card-text">{{ movie.description }}</p>
                        </div>

                        {% if movie.url %}
                            <a href="{{ movie.url }}" class="btn btn-primary mt-auto">Movie Link</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br/><br /><br />

    <h2>Join our mailing list:</h2>
    <form action="{% url 'signup' %}">
        <div class="mb-3">
            <label for="email" class="form-label">Enter your email:</label>
            <input type="email" class="form-control" name="email" />
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>

{% endblock content %}